/* ***********CONTENT************ */

.container {
    margin-top: 30px;
    margin-left: 15%;
    width: 70%;
    background: white;
}

.container .content {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.content .content-title {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.content .content-hr {
    margin-top: -12px;
    width: 95%;
    margin-left: 20px;
    border: 1px solid #ff3d00;
}

.content .content-title .title {
    font-size: 20px;
    font-weight: 500;
    background: #ff3d00;
    padding: 10px;
    color: white;
    border-left: 10px solid brown;
    border-top-right-radius: 10px;
}

.content .content-item {
    display: flex;
    padding: 10px 20px;
}

.content .content-item .card:first-child {
    margin-left: 50px;
}

.content .content-item .card {
    /* border: 1px solid #ddd; */
    width: 250px;
    height: 340px;
    margin-left: 100px;
}

.content  .card .btn-add-cart {
    margin-top: 20px;
    cursor: pointer;
    margin-left: 55px;
    height: 35px;
    width: 150px;
    border: 1px solid #ffc905;
    background: #ffc905;
}

.content .card .btn-add-cart i {
    font-size: 20px;
    color: white;
}

.content .content-item .card .card-img {
    width: 100%;
    height: 200px;
}

.content  .card .card-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.content  .card .card-price {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: coral;
}

.content .content-item .item {
    padding: 10px;
    border: 1px solid #ddd;
    width: 49.8%;
    display: flex;
    margin-bottom: 5px;
}

.content .content-item .item img {
    width: 200px;
    height: 130px;
}

.content .content-item .item .item-caption {
    margin-top: 40px;
    margin-left: 10px;
}

.content .content-item .item .item-title {
    font-size: 20px;
    font-weight: 700;
    color: tomato;
}

#content-new {
    width: 98%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .content-title #new-title {
    background: #171c24;
    border-left: 10px solid #c9e209;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 15px;
}

.content #new-hr {
    width: 95%;
    margin-left: 35px;
    border: 1px solid #171c24;
}
.icon-messages{
    position: fixed;
    z-index: 1;
    top: 600px;
    right: 50px;
}
.messages{
    position: fixed;
    top: 360px;
    right: 120px;
    background: white;
    z-index: 99999;
    border: 1px solid #ddd;
    width: 270px;
}
.messages .header-messages{
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
}
.messages .content-messages{
    padding: 10px 15px;
    height: 320px;
    overflow: scroll;
    overflow-x: hidden;
    width: 270px;
}
.messages .name-messages{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    top: -3px;
    left: -3px;
    font-weight: 500;
    position: relative;
}
.messages .name-messages .name{
    width: 100px;
}
.messages .name-messages .time{
    font-size: 10px;
}
.messages .user-messages{
    margin-bottom: 10px;
}
.messages .user-messages .content{
    background: #ddd;
    font-size: 13px;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 10px;
    width: auto;
   
    
}
.close-button{
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
.messages .admin-messages{
    margin-bottom: 10px;
}
.messages .admin-messages .name-messages{
    font-size: 13px;
    top: -3px;
    font-weight: 500;
    position: relative;
}
.messages .admin-messages .content{
    background: #00bcd4;
    font-size: 13px;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right:10px;
    margin-bottom: 10px;
    color: white;
}
.input-messages{
    border-top: 1px solid #ddd;
}
.input-messages input{
    padding: 10px;
    width: 85%;
    border: none;
}
.btn-send-messages{
    background: none;
    cursor: pointer;
    border: none;
}
.content .icon{
    font-size: 25px;
    cursor: pointer;
    position: relative;
    top: 180px;
}
.content .btn-disable{
    background: none;
    border: none;
}
.fa-chevron-circle-right{
    position: relative;
    left: 1300px;
}
.content-item-responsive{
    display: none;
}
.content-item-responsive .card{
    padding:20px 50px;
}
.content-item-responsive .card img{
    width: 100%;
    height: 200px;
}
.content .btn-disable-respon{
    border: none;
    background: none;
    display:none ;
}
.content .btn-disable-respon .fa-chevron-circle-right{
    top: 160px;
}
@media (max-width: 980px) {
    .content .fa-chevron-circle-right{
        left: 320px;
    }
    .content .content-item{
        display: none;
    }
    .content .content-item-responsive{
        display: block;
    }
    .content .btn-disable-respon{
        display: block;
    }
    .content .btn-disable{
        display: none;
    }
    .messages{
        top: 200px;
        left: 150px;
    }
    
}